@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

//shop variables

$brand-color: #ff6a00;
$background-color: #F2F2F2;
$border-color: #e5e5e5;
$font-dark: #242424;
$font-light: #A5A5A5;
$link-color: #ff6a00;
$black: #121212;
$disc-price: #FF6472;
$radio-button: #FF6472;
$radio-button-disabled: rgba(255, 100, 113, 0.400);
$danger-color: rgb(251, 57, 73);
$disc-price-pro: #A5A5A5;
$other-font-color: #5E5E5E;
$title-color: #8E8E8E;
$address-card-border-color: #E8E8E8;
$bold-color: #3A3A3A;
$sticker-color: rgb(14, 110, 65);
$stock-color: #4CAF50;
$rating-color: #FC6868;
$star-color: #d4d4d4;
$error-color: #ff5656;
$line-bar-color: #D8D8D8;
$btn-background-color: #fff;
$info-color: #202224;
$ltgray: lightgray;
$listcolor: #333333;
$spnr-color: #bababa;
$shadow-color: #ccc;
$shadow-color1: #cccccc;
$outline-hvr: #eaeaec;
$review-details: #5e5e5e;
//shop variables ends here

//
$font-roboto: "Roboto", sans-serif;